@page {
  size: auto;
  margin: 0mm 0mm 0mm 0mm;
}

body {
  margin: 0px;
}

p {
  padding: 0px;
  margin: 0px; 
}

#review_receipt_title,
#receipt_explanation_background,
#start_screen,
#audio_only_screen,
#print_receipt_screen,
#legislative_council_combined_screen,
#confirm_selections_screen,
#confirmation_message_box,
#start_message_box,
#gesture_video_box
{
  visibility: hidden;
  display: none;  
}

#ballot_container {
  background-color: #ffffff; 
  margin: 0px;
}

.review_middle_dashed {
  display: none;
  visibility: hidden;
}

.review_div_listing {
  width: 100%; 
  border-bottom: 2px solid #000;  
  overflow-x: hidden;
}

.review_div_listing_inner {
  padding: 5px; 
  overflow-x: hidden; 
  white-space: nowrap;  
}

.review_assembly_ballot {
  border: 2px solid #000000;  
}

.review_atl_ballot {
  border: 2px solid #000000;  
}

.review_btl_ballot {
  border: 2px solid #000000;  
}

.assembly_section_header {
  height: 130px; 
}

.atl_section_header {
  height: 165px; 
}

.btl_section_header {
  height: 165px; 
}

.receipt_candidate_name {
  color: #000000;
  font-weight: bold;
  font-size: 20pt;
  padding: 5px;
  border: 2px solid;
  text-align: left;
}

.review_preference_selection {
  border: 2px solid #000000;  
  font-family: arial;
  font-weight: bold;
  letter-spacing: -0.04em;
  font-size: 27pt;
  text-align: center;
  height: 33px;
}

.review_candidate_selection {
  border: 2px solid #000000;  
  font-weight: bold;
  text-align: left;
  overflow: hidden;
  height: 33px;
}

.review_assembly_preferences {
  border: 2px solid #000000;
  width: 69px;
  float: right;
  margin-right: 10px;
}

.review_atl_preferences {
  border: 2px solid #000000;
  width: 69px;
  float: right;
  margin-right: 10px;
}

.review_btl_preferences {
  border: 2px solid #000000;
  width: 69px;
  float: right;
  margin-right: 10px;
}

.review_atl_preferences {
  border: 2px solid #000000;
}

#review_ballot_instruction_background {
  display: none;
}

#review_ballot_instruction_container {
  display: none;
}

#candidate_list_title {
  font-family: Arial, Verdana;
  width: 250px;
}

#your_vote_title {
  font-family: Arial, Verdana;
  width: 400px;
}

#review_ballot_instruction_background {
  display: none;
  visibility: hidden;
}

#review_ballot_instruction_container {
  display: none;
  visibility: hidden;
}

#review_ballot_instruction_panel {
  display: none;
  visibility: hidden;
}