      <button id="back_to_menu_button" class="video_screen_button" type="button"
        onclick="(container.Resolve('visualView')).displaySection('about_vvote_screen', 'start_screen');"
        title="Go back to previous screen">
        Go Back To Menu
      </button>
      <center>
  	  	<video id="about_vvote_video" width="720" height="640" loop="loop" muted>
  	  	   
  	  	</video>
      </center>