  <div id="keypad">
    <div id="button_1" title="Button 1" class="blind_button"><label>1</label></div>
    <div id="button_2" title="Button 2" class="blind_button"><label>2</label></div>
    <div id="button_3" title="Button 3" class="blind_button"><label>3</label></div>
    <div id="button_4" title="Button 4" class="blind_button"><label>4</label></div>
    <div id="button_5" title="Button 5" class="blind_button"><label>5</label></div>
    <div id="button_6" title="Button 6" class="blind_button"><label>6</label></div>
    <div id="button_7" title="Button 7" class="blind_button"><label>7</label></div>
    <div id="button_8" title="Button 8" class="blind_button"><label>8</label></div>
    <div id="button_9" title="Button 9" class="blind_button"><label>9</label></div>
    <div id="button_10" title="Button 10" class="blind_button"><label>*</label></div>
    <div id="button_11" title="Button 11" class="blind_button"><label>0</label></div>
    <div id="button_12" title="Button 12" class="blind_button"><label>#</label></div>
  </div>
  <div id="left_trigger">
    Press Here
  </div>
  <div id="right_trigger">
    Press Here
  </div>