  <div id="audio_scan_message" style="height: 100px; width: 90%; color: rgb(255, 255, 255); padding: 50px;">
    <div style="margin-top: 40%; padding: 20px; border: 3px solid; font-size: 25pt; font-weight: bold; text-align: center;">
      <p id="audio_screen_message_1">YOU ARE IN AUDIO ASSISTED VOTING.</p>
      <p id="audio_screen_message_2">TOUCH HERE TO RETURN TO VISUALLY ASSISTED VOTING</p>
    </div>
  </div>
  <div style="visibility: hidden;">
    <div id="audio_ui_qr_scan_plugin">
    </div>
  </div>
