<div id="ballot_help_modal_header" class="header" style="display: none; z-index: 301;">
  <div id="ballot_help_modal_title" style="float: left; padding: 8px;">
  </div>
</div>

<div id="ballot_help_modal_background" style="z-index: 301;">
</div>
<div id="ballot_help_modal_container" style="z-index: 302; display: none; position: absolute; top: 0; width: 100%">
    <div id="ballot_help_modal_panel" class="notice_panel invert_color" style="overflow-y: scroll; overflow-x: hidden;">
      <div id="help_content">
        <div id="ballot_help_modal_message" class="invert_color internationalisation" style="text-align: left; height: 400px; overflow: hidden;">
        </div>
        <section class="option_set_container">
          <div id="switch_to_audio_option" class="option_wrapper">
            Change to AUDIO ONLY
          </div>

          <div id="clear_ballot_button" class="option_wrapper" >
            Clear my votes and start again
          </div>

          <div id="return_to_audio_button" class="option_wrapper" style="display: none;">
            RETURN TO AUDIO
          </div>
        </section>
      </div>
    </div>
</div>

<div id="ballot_help_modal_footer" class="footer" style="display: none; z-index: 301;">
  <div id="ballot_help_modal_back_button" class="button" style="float: left;">
    Back
  </div>
</div>
