<div id="confirm_audio_switch_header" class="header" style="z-index: 304;">
  <div id="confirm_audio_switch_title" style="float: left; padding: 8px;">Switch to audio-only voting</div>
</div>

<div id="confirm_audio_switch_modal_background" style="z-index: 303;">
</div>
<div id="confirm_audio_switch_modal_container" style="z-index: 304; top: 0; position: absolute; width: 100%; height: 100%;">

  <div id="confirm_audio_switch_message" style="width: 80%; text-align: left; margin-left: 150px; margin-top: 100px;">
     Would you like to use audio assisted voting with the votes you have already made
     or would you like to use audio assisted voting with blank ballots?
  </div>
    
    
<section class="option_container">
    <section class="option_set_container">
  <div id="select_keep_votes_text" class="option_wrapper" style="top: 470px; left: 110px;">
    <div id="keep_votes_selected" class="option_tick_box">
      &#10004;
    </div>
    <div id="confirm_audio_switch_preserve_votes_button" class="option_text large">
      Keep votes
    </div>
  </div>
  <div id="select_clear_votes_text" class="option_wrapper" style="top: 470px; left: 650px;">
    <div id="clear_votes_selected" class="option_tick_box">

    </div>
    <div id="confirm_audio_switch_clear_votes_button" class="option_text large">
      Clear votes
    </div>
  </div>
        </section>
    </section>
</div>

<div id="confirm_audio_switch_footer" class="footer" style="z-index: 304;">
  <div id="confirm_audio_switch_return_button" class="button" style="float: left;">
    Back
  </div>

  <div id="confirm_audio_switch_button" class="button">
    Switch to audio
  </div>
</div>
