<div id="confirm_clear_ballot_modal_header" class="header" style="display: none; z-index: 304;">
  <div id="confirm_clear_ballot_title" style="float: left; padding: 8px;">
    Clear votes and start again?
  </div>
</div>

<div id="confirm_clear_ballot_modal_background" style="z-index: 303;">
</div>
<div id="confirm_clear_ballot_modal_container" style="z-index: 304; display: none; top: 0; position: absolute; width: 100%; height: 100%;">
  <div id="confirm_clear_ballot_modal_panel" class="notice_panel confirm_clear_ballot_notice_panel invert_color">
    <center>
      <div id="confirm_clear_ballot_content">
        <p id="clear_ballot_message_1" style="text-align: left;">
          You can clear your votes so far and start again by touching "Clear" button below.
        </p>
        <p id="clear_ballot_message_2" style="text-align: left;">
          Any current votes you have made will be removed.
        </p>
        <p id="clear_ballot_message_3" style="text-align: left;">
          Touch Back to return to voting without clearing your votes.
        </p>
      </div>
    </center>
  </div>
</div>

<div id="confirm_clear_ballot_modal_footer" class="footer" style="display: none; z-index: 304;">
  <div id="confirm_clear_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="confirm_clear_ok_button" class="button" style="float: left; width: auto; margin-left: 18%;">
    Clear votes start again
  </div>
</div>