<div id="confirmation_screen_header" class="header" style="z-index: 121;">
  <div id="confirmation_screen_title" style="float: left; padding: 8px;">
    Review your votes
  </div>

  <div id="assembly_summary_button_scroll_up" class="button" style="width: 100px; position: absolute; top: 0px; left: 35%;">
    <div class="up_button">
    &#187;
    </div>
  </div>

  <div id="council_summary_button_scroll_up" class="button" style="width: 100px; position: absolute; top: 0px; left: 55%;">
    <div class="up_button">
    &#187;
    </div>
  </div>

  <div id="review_screen_help_button" class="button" style="float: right; margin-right: 100px;">
    Help
  </div>
</div>

<div id="ballot_paper" style="width: 100%; float: left; display: block;" class="fixed_font">
  <center>
    <div id="two_ballot_layout" class="invert_color">
      <div id="assembly_ballot_summary_background" style="float: left;">
        <div id="assembly_summary_title_background">
        </div>
        <div id="assembly_ballot_summary_container" style="overflow: scroll;">
          <div id="assembly_confirmation_veil">

          </div>
          <span id="summary_district_title">
            District votes
          </span><br/>
          <div id="assembly_ballot_summary_content_inner" style="overflow: auto;">
            <div id="assembly_preference_selections_legal_order">

            </div>
          </div>
        </div>
      </div>

      <div id="council_ballot_summary_background" style="float: left;">

        <div id="summary_separator" style="height: 90%; width: 5px; float: left; display: inline; background-color: #333; margin-top: 110px;">

        </div>

        <div id="council_summary_title_background">
        </div>
        <div id="council_ballot_summary_container" style="overflow: scroll;">
          <span id="summary_region_title">
            Region votes
          </span><br/>
          <div id="council_ballot_summary_content_inner" style="overflow: auto;">
            <div id="council_preference_selections_legal_order">

            </div>
          </div>
        </div>
      </div>
    </div>
  </center>

<div id="confirmation_veil">

</div>

<div class="footer" style="z-index: 121;">
  <div id="confirmation_screen_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="assembly_summary_button_scroll_down" class="button" style="width: 100px; position: absolute; bottom: 0px; left: 35%;">
    <div class="down_button">
    &#187;
    </div>
  </div>

  <div id="confirm_submit_button" class="button" style="float: right;">
    Next
  </div>

  <div id="council_summary_button_scroll_down" class="button" style="width: 100px; position: absolute; bottom: 0px; left: 55%;">
    <div class="down_button">
    &#187;
    </div>
  </div>
</div>
