      <div style="margin: 0 auto;">
        <video id="assembly_gesture_video" style="margin: 0 auto; display: block; padding: 50px;" height="480px" width="640px" loop="loop" muted="">
           
          Your browser does not support the video tag.
        </video>
      </div>
      <button id="close_button" class="button_highlighted" onclick="(container.Resolve('visualView')).closeGestureVideoBox();">
        OK
      </button>