<div id="invalid_qr_modal_header" class="header" style="display: none; z-index: 282;">
  <div id="invalid_qr_modal_title" style="float: left; padding: 8px;">
  </div>
</div>

<div id="invalid_qr_modal_background" style="z-index: 291; height: 100%; width: 100%;">
</div>
<div id="invalid_qr_modal_container" style="z-index: 292;  height: 100%; width: 100%;">
  <div id="invalid_qr_alert">
    <center>
      <div id="invalid_qr_modal_panel" class="notice_panel invert_color" style="overflow-y: scroll; overflow-x: hidden;">
        <div id="invalid_qr_content" style="width: 900px; margin-top: 250px;">
          <p id="invalid_qr_modal_message" class="invert_color internationalisation">
            This voting slip is not valid. Please raise your hand or return to the mark-off desk for assistance.
          </p>
        </div>
      </div>
    </center>
  </div>
</div>

<div id="invalid_qr_modal_footer" class="footer" style="display: none; z-index: 282;">
  <div id="invalid_qr_modal_back_button" class="button" style="float: left;" onclick="hideInvalidQrAlert();">
    Back
  </div>
</div>