<div class="header">
  <div id="languages_button_scroll_up" class="button">
    <div class="up_button">
    &#187;
    </div>
  </div>
</div>

<div id="language_options" style="width: 700px; position: absolute; left: 350px; top: 70px;">
  <ul id="language_listing" style="overflow-x: hidden; overflow-y: scroll; list-style-type: none; height: 650px; padding: 0px; margin: 0px; text-align: left; font-size: 35pt;">

  </ul>
</div>

<div class="footer">
  <div id="languages_button_scroll_down" class="button">
    <div class="down_button">
    &#187;
    </div>
  </div>

  <div id="languages_next_button" class="button" style="float: right;">
    Next
  </div>
</div>