<div class="header">
  <div id="la_district_title" style="display: inline; float: left; padding: 8px;" class="fixed_font"></div>
  <div id="district_of" style="display: inline; float: left; padding: 8px;" class="fixed_font"></div>

  <div id="assembly_screen_help_button" class="button" style="float: right; margin-right: 100px;">
    Help
  </div>

  <div id="assembly_button_scroll_up" class="button">
    <div class="up_button">
    &#187;
    </div>
  </div>
</div>

<div id="ballot_paper" style="width: 100%;" class="fixed_font">
    <div id="assembly_ballot_background">

      <div id="assembly_ballot_container" style="overflow: scroll;">
        <div id="assembly_ballot_content_inner" style="text-align: left; padding: 10px 0px 0px 10px;">
        </div>
        <div id="assembly_ballot_veil">
        </div>
      </div>

    </div>
</div>

<div class="footer">
  <div id="assembly_screen_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="assembly_screen_quit_button" class="button" style="float: left; margin-left: 90px;">
    Quit
  </div>

  <div id="assembly_button_scroll_down" class="button">
    <div class="down_button">
    &#187;
    </div>
  </div>

  <div id="assembly_screen_next_button" class="button" style="float: right;">
    Next
  </div>

  <div id="assembly_screen_undo_button" class="button undo_button">
    Undo
  </div>
</div>

<!-- POPUP introduction -->
<div id="assembly_instruction_background" style="display: block; position: absolute; z-index: 287; width: 100%; height: 100%; top: 0px; left: 0px;">
</div>
<div id="assembly_instruction_container" style="display: block; position: absolute; z-index: 288; width: 100%; top: 0px;">

  <div class="header">
    <div id="assembly_popup_title" style="float: left; padding: 8px;">
      How to vote in the district ballot
    </div>
  </div>

  <center>
    <div id="assembly_instruction_panel" class="notice_panel">
      <div style="height: 820px; width: 1200px; margin-top: 10px;">
        <p id="assembly_instruction_title" style="text-align: left; width: 1200px;">

        </p>
        <div style="width: 580px;">
          <video id="assembly_instructions_video" style="float: left;" width="580px" loop="loop" muted="">

          </video>
        </div>
      </div>
    </div>
  </center>
</div>

<div id="assembly_instruction_footer" class="footer" style="z-index: 300;">
  <div id="assembly_popup_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="assembly_instruction_ok_button" class="button">
    OK
  </div>
</div>
