<div class="header" style="z-index: 121;">
  <div id="lc_region_title" style="display: inline; float: left; padding: 8px;" class="fixed_font"></div>
  <div id="region_of" style="display: inline; float: left; padding: 8px;" class="fixed_font"></div>

  <div id="council_screen_help_button" class="button" style="float: right; margin-right: 100px;">
    Help
  </div>

  <div id="btnUp" class="button">
    <div class="up_button">
    &#187;
    </div>
  </div>
</div>

<div class="left_bar" style="z-index: 120;">
  <div id="btnLeft" class="button" style="width: 70px; height: 140px; position: absolute; top: 40%; min-width:0px; padding:0px">
    <div class="left_button">
    &#187;
    </div>
  </div>
</div>

<div class="right_bar" style="z-index: 120;">
  <div id="btnRight" class="button" style="width: 70px; height: 140px; position: absolute; top: 40%; min-width:0px; padding:0px">
    <div class="right_button">
    &#187;
    </div>
  </div>
</div>

<div id="ballot_combined_content" class="fixed_font">
  <div id="ballot_groups_content" style="position: absolute; z-index: 101; top: 0px; left: 0px; right: 0px;">

    <div id="atl_btl_switch_bar" class="switch_bar">
      PRESS HERE TO VOTE FOR CANDIDATES BELOW INSTEAD OF PARTIES OR GROUPS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR CANDIDATES BELOW INSTEAD OF PARTIES OR GROUPS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR CANDIDATES BELOW INSTEAD OF PARTIES OR GROUPS &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR CANDIDATES BELOW INSTEAD OF PARTIES OR GROUPS
    </div>

    <div id="btl_atl_switch_bar" class="switch_bar">
      PRESS HERE TO VOTE FOR PARTIES OR GROUPS ABOVE INSTEAD OF CANDIDATES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR PARTIES OR GROUPS ABOVE INSTEAD OF CANDIDATES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR PARTIES OR GROUPS ABOVE INSTEAD OF CANDIDATES &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PRESS HERE TO VOTE FOR PARTIES OR GROUPS ABOVE INSTEAD OF CANDIDATES
    </div>

    <div id="ballot_groups_content_inner"></div>
  </div>
</div>

<div class="footer" style="z-index: 121;">
  <div id="council_screen_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="council_screen_quit_button" class="button" style="float: left; margin-left: 90px;">
    Quit
  </div>

  <div id="btnDown" class="button" class="button">
    <div class="down_button">
    &#187;
    </div>
  </div>

  <div id="council_screen_next_button" class="button" style="float: right;">
    Next
  </div>

  <div id="council_screen_undo_button" class="button undo_button">
    Undo
  </div>
</div>
