<div id="mbb_timeout_modal_header" class="header" style="display: none; z-index: 282;">
  <div id="mbb_timeout_modal_title" style="float: left; padding: 8px;">
  </div>
</div>

<div id="mbb_timeout_modal_background" style="z-index: 291; height: 100%; width: 100%;">
</div>
<div id="mbb_timeout_modal_container" style="z-index: 292;  height: 100%; width: 100%;">
  <div id="mbb_timeout_alert">
    <center>
      <div id="mbb_timeout_modal_panel" class="notice_panel invert_color" style="overflow-y: scroll; overflow-x: hidden;">
        <div id="mbb_timeout_content" style="width: 900px; margin-top: 250px;">
          <p id="mbb_timeout_modal_message" class="invert_color internationalisation">
                Unable to connect to the server...
          </p>
        </div>
      </div>
    </center>
  </div>
</div>

<div id="mbb_timeout_modal_footer" class="footer" style="display: none; z-index: 281;">
  <div id="mbb_timeout_modal_back_button" class="button" style="float: left;" onclick="hideMbbTimeoutAlert();">
    Back
  </div>
</div>
