<div id="print_receipt_header" class="header" style="z-index: 281;">
  <div id="print_receipt_title" style="float: left; padding: 8px;">
    Thankyou for voting
  </div>
</div>

<div id="receipt_explanation_content" style="width: 100%; margin-top: 70px;">
      <div id="receipt_explanation_background" class="invert_color">
        <div style="margin: auto 5%; float: left; text-align: left;">
          <div id="print_receipt_message" class="internationalisation">The receipt is printing. Please check it against the candidate list. You can take home this receipt but you must discard the candidate list in the security bin.</div>
        </div>
        <video id="shred_instructions_video" height="auto" width="640px" loop="loop" muted="" style="margin: 1% auto">           
        </video>
      </div>
</div>

<div id="print_receipt_modal_footer" class="footer" style="z-index: 301;">
  <div id="print_receipt_again_button" class="bounce-button" style="float: left;"
      onclick="printBallot((getContainer().Resolve('visualScreenManager')).getUserVotedAboveOrBelowTheLine());">
    Reprint
  </div>

  <div id="print_receipt_next_button" class="button"
      onclick="(container.Resolve('visualController')).quitApplication();">
    Done
  </div>
</div>