<div style="width: 100%; background-color: #000000;">
  <div id="warn_user_voted" style="height: 900px; width: 90%; padding-left: 5%;">
    <p id="scan_error_message_1" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 35pt; font-weight: bold; text-align: left; padding-top: 10px;">

    </p>
    <p id="scan_error_message_2" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 35pt; font-weight: bold; text-align: left;">

    </p>
    <p id="scan_error_message_3" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 35pt; font-weight: bold; text-align: left;">

    </p>
    <p id="scan_error_message_4" style="width: 90%; color: #FFFFFF; padding: 5px; font-size: 35pt; font-weight: bold; text-align: left;">

    </p>
    <p id="scan_error_message_5" style="margin-left: 400px; width: 500px; height: 130px; padding: 10px; font-size: 35pt; font-weight: bold; text-align: center; color: #FFFFFF; background-color: #000000; border: 3px solid #FFFFFF; border-radius: 18px;">

    </p>
  </div>
</div>