<div class="header">
  <div id="settings_title" style="float: left; padding: 8px;">Visual settings</div>
</div>

<section class="option_container">
    <section class="option_set_container">
<div id="select_large_text" class="option_wrapper" style="top: 170px; left: 110px;">
    <div id="large_selected" class="option_tick_box">

    </div>
    <div id="large_text_size_option" class="option_text large">
      LARGE SIZE TEXT
    </div>
</div>

<div id="select_medium_text" class="option_wrapper" style="top: 170px; left: 660px;">
    <div id="medium_selected" class="option_tick_box">
      &#10004;
    </div>
    <div id="medium_text_size_option" class="option_text medium" style="line-height: 1.5em;">
      MEDIUM SIZE TEXT
    </div>
</div>
    </section>
    <section class="option_set_container">
<div id="select_bow" class="option_wrapper" style="top: 340px; left: 110px;">
    <div id="bow_selected" class="option_tick_box">
      &#10004;
    </div>
    <div id="black_on_white_option" class="option_text large">
      BLACK ON WHITE
    </div>
</div>

<div id="select_wob" class="option_wrapper" style="top: 340px; left: 660px; background-color: #000000;">
    <div id="wob_selected" class="option_tick_box" style="border: 2px solid #FDF5E8;">

    </div>
    <div id="white_on_black_option" class="option_text large" style="color: #FDF5E8;">
      WHITE ON BLACK
    </div>
</div>
        </section>
    <section class="option_set_container">
<div id="switch_to_audio_button" class="option_wrapper large" onclick="switchToAudioInterface();">
  Change to AUDIO ONLY
</div>
        </section>
</section>

<div class="footer">
  <div id="settings_back_button" class="button" style="float: left;"
       onclick="openLanguagesScreen();">
    Back
  </div>

  <div id="settings_next_button" class="button" style="float: right;"
       onclick="(container.Resolve('audioController')).stopAudio(); openDistrictScreen();">
    Next
  </div>
</div>
