<div id="timeout_lock_modal_header" class="header" style="display: block; z-index: 310;">
  <div id="timeout_lock_modal_title" style="float: left; padding: 8px;">
    TIMEOUT
  </div>
</div>

<div id="timeout_lock_modal_background" style="z-index: 309;">
</div>
<div id="timeout_lock_modal_container" style="z-index: 310; display: block; position: absolute; width: 100%">
  <div id="timeout_lock_alert">
    <center>
      <div id="timeout_lock_modal_panel" class="notice_panel invert_color" style="overflow-y: scroll; overflow-x: hidden; background-color: #000000;">
        <div id="timeout_lock_content">
          <p id="timeout_lock_modal_message_1" class="invert_color" style="text-align: left; padding: 20px;">
            The screen has automatically locked due to inactivity. Please ask staff to unlock it so you can continue voting.
          </p>
          <div id="timeout_lock_time_message" class="invert_color" style="font-size: 50pt; display: inline; padding-right: 20px;">
            Locked for:</div>
          <div id="timeout_lock_countup_timer" style="font-size: 60pt; display: inline;">0:00</div>
          <p id="timeout_lock_modal_message_2" class="invert_color" style="text-align: left; padding: 20px;">
            A timed out vote should be discarded if the whereabouts of the voter that was using this terminal is unknown, OR The voter wishes to switch to paper voting.
          </p>
        </div>
      </div>
    </center>
  </div>
</div>

<div id="timeout_lock_modal_footer" class="footer" style="display: block; z-index: 310;">
  <div id="timeout_unlock_button" class="button internationalisation" style="float: left; width: auto;" onclick="hideTimeoutLockScreen();">
    UNLOCK
  </div>
  <div id="timeout_discard_button" class="button internationalisation" style="float: right; width: auto;" onclick="showConfirmDiscardScreen();">
    DISCARD VOTE
  </div>
</div>
