  <div id="triage_veil">
    <div id="scan_qr_code_content" style="width: 100%;">
      <video id="scan_qr_code_video" height="700px" width="1200px" loop="loop" style="margin-top: 80px;">
         
      </video>
    </div>
    <div style="display: block; margin-top: -550px; margin-left: 150px; position: absolute; visibility: visible;">
      <div id="visual_ui_qr_scan_plugin">
      </div>
    </div>
  </div>