<div id="warning_modal_header" class="header" style="display: none; z-index: 281;">
  <div id="warning_modal_title" style="float: left; padding: 8px;">Important!</div>
  <div id="warning_modal_help_button" class="button" style="float: right; margin-right: 100px;">
    Help
  </div>
</div>

<div id="warning_modal_background">
</div>
<div id="warning_modal_container" style="display: none; top: 0; position: absolute; z-index: 280; width: 100%">
  <center>
    <div id="warning_modal_panel" class="notice_panel invert_color" style="width: 1300px;">
      <div style="width: 75%; padding-left: 60px; height: 85px; margin-top: 50px; display: none;">
        <img src="images/warning_sign.png" style="float: left;">
        <h1 id="old_warning_modal_title" class="invert_color" style="float: center; padding-top: 10px;">
        </h1>
      </div>
      <span id="warning_modal_message" class="invert_color" style="text-align: left;">
      </span>
    </div>
  </center>
</div>

<div id="warning_modal_footer" class="footer" style="display: none; z-index: 281;">
  <div id="warning_modal_back_button" class="button" style="float: left;">
    Back
  </div>

  <div id="warning_modal_proceed_button" class="button">
    OK
  </div>
</div>
